/* CSS Document */

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color:cyan;
}

nav li {
	display: inline;
}

nav li {
	float: left;
}

nav li a {
	display:block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 95px;
}

nav a {
	display: block;
	padding: 8px;
	background-color: cyan;
	margin: 25px;
}

nav ul {
	background-color: cyan;
	position: fixed;
	top: 0;
	width: 100%;
	left: 95px;
	height: 95px;
}

nav li a:hover {
	background-color: hotpink;
	color: mediumpurple;
}

nav {
	position: fixed;
}

.active {
	color: magenta;
}

.firsttext {
	top: 100px;
	margin: 10px;
}
.backnav {
	background-color: magenta;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
}